<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69227588627-i784e9894228hpqts01ekqfsbi8367lh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69227588627-i784e9894228hpqts01ekqfsbi8367lh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>69227588627-4s6inlkhoanenj2o71kj1fvlf5gdj6c1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDccbfv6NdP9_YtErmyu2vm4ge0TxbWa6o</string>
	<key>GCM_SENDER_ID</key>
	<string>69227588627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.handMeDown</string>
	<key>PROJECT_ID</key>
	<string>handmedown-2a62c</string>
	<key>STORAGE_BUCKET</key>
	<string>handmedown-2a62c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69227588627:ios:ae6eb10668ea588eef63e6</string>
</dict>
</plist>